André Bires <andrebires@gmail.com> <andreb@takenet.com.br>
André Minelli <andre@takenet.com.br> André C. O. Minelli <andre@takenet.com.br>
Gabriel Nepomuceno <gabriel.bico@gmail.com> <gabriel@takenet.com.br>