trigger:
- master
- main
- beta/*

name: 0.12$(Rev:.r)

variables:
    skipDecorator: true
    framework: dotnet

resources:
  repositories:   
  - repository: templates
    type: git
    name: Operações/template-take-blip
    #ref: feature/393524-add-solution-parameter
    ref: feature/393524-add-timezone-settings

extends:
  template: template-pipeline.yml@templates
  parameters: 
    skipSonarBranch: true
    solution: "src/Lime.sln"
    packagename: lime-csharp
    type: dotnet
    to: nuget
    nugetServiceConnection: Nuget.org Take
    includeSymbols: true
    csprojToPack:
    - 'Lime.Protocol.csproj'
    - 'Lime.Messaging.csproj'
    - 'Lime.Transport.Tcp.csproj'
    - 'Lime.Transport.Redis.csproj'
    - 'Lime.Transport.WebSocket.csproj'
    - 'Lime.Transport.AspNetCore.csproj'
    testProjects: |
     src/Lime.Protocol.UnitTests/Lime.Protocol.UnitTests.csproj
     src/Lime.Transport.Tcp.UnitTests/Lime.Transport.Tcp.UnitTests.csproj
     src/Lime.Transport.WebSocket.UnitTests/Lime.Transport.WebSocket.UnitTests.csproj