body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-form input, .form-inline input {
	width:auto;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:25px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top: 75px;
    width: 228px;
  }
}

.affix,.affix-top {
   position:static;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

}