@{
    ViewBag.Title = "About";
}

<div class="col-md-10" role="main">
    <h1 class="page-header">About</h1>
    <p>This page is maintened by <a href="mailto:andrebires@gmail.com">André Bires</a> and Take.net developers. 
    If you want to contribute to this specification, please join the <a href="https://groups.google.com/forum/?hl=pt-BR#!forum/limeprotocol">discussion group</a>. </p>   
    <p>You can contribute to this page directly on the <a href="https://github.com/takenet/lime/tree/master/src/Lime.Web">Github</a>.</p>
</div>