@{
    ViewBag.Title = "Libraries";
}
<div class="col-md-10" role="main">
    <h1 class="page-header" id="libraries">Libraries</h1>

    <p>This section lists the available implementations of the protocol.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Language</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C#</td>
                <td>C# reference implementation.</td>
                <td><a href="http://github.com/takenet/lime">Github</a></td>
            </tr>
        </tbody>
    </table>
</div>