@{
    ViewBag.Title = "LIME over HTTP";
}

<div class="col-md-10" role="main">
    <h1 class="page-header">LIME over HTTP</h1>
    <div class="alert alert-warning">This specification is a <strong>work in progress</strong> and is subject to change without notice.</div>

    <p>
        LIME over HTTP (LOH) is an emulation layer that allows receiving and sending LIME envelopes through a HTTP connection.
        It works by mapping some LIME features to similar ones into the HTTP protocol and using conventions for headers and URIs.
        A LIME compatible HTTP server should translate HTTP requests into LIME envelopes and submit they to its LIME backend.
    </p>

    <h3 id="envelopes">Envelopes</h3>
    <p>
        The envelope to HTTP mapping is straightforward: The envelope properties should be HTTP headers or query string parameters.
        The property mapping for all envelope types is:
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Property
                </th>
                <th>
                    HTTP mapping
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>id</code>
                </td>
                <td>
                    <code>X-Id</code> header or <code>id</code> URL query string parameter.
                </td>
            </tr>
            <tr>
                <td>
                    <code>from</code>
                </td>
                <td>
                    <code>X-From</code> header or <code>from</code> URL query string parameter.
                </td>
            </tr>
            <tr>
                <td>
                    <code>to</code>
                </td>
                <td>
                    <code>X-To</code> header or <code>to</code> URL query string parameter.
                </td>
            </tr>
            <tr>
                <td>
                    <code>pp</code>
                </td>
                <td>
                    <code>X-Pp</code> header or <code>pp</code> URL query string parameter.
                </td>
            </tr>
            <tr>
                <td>
                    <code>metadata</code>
                </td>
                <td>
                    All non-standard headers (starting with X-), except the LIME specific headers.
                </td>
            </tr>
        </tbody>
    </table>

    <h3 id="sessions">Sessions</h3>
    <p>
        The concept of session in LIME is directly related to the persistent connection state. Since the HTTP protocol doesn't support that, it is not possible to map this feature directly.
        However, the HTTP server should establish a session with it's LIME backend for authentication purposes. The session negotiation should be skipped, since its not possible to upgrade the HTTP compression and encryption options.
        Its highly recommended that the HTTP server uses TLS encryption (HTTPS) to avoid problems with sensitive data.
        For every call, the HTTP client should send the <code>Authorization</code> header and the server should establish a session using the request authentication information, mapping the schemes accordingly.
    </p>
    <p>
        By default, the session is closed after the request is processed. To allow the clients keep the session to allow features like the definition of the presence status for receiving messages, the client must send the <code>X-Keep-Session: true</code> header.
        In this case, the server should returns the <code>X-Session-Id</code> header with the identifier of the session and the <code>X-Session-Expiration</code> header, with the information of the lifetime of the specified session.
        The value of the session expiration can change after every request, since it is relative to the last request date. 
        To close an existing session, the client must send the <code>X-Keep-Session: false</code> header.
        Even with an active session, the client needs to send its credentials for all requests. The server should store the cached session using a hashed value of the client credentials as key.
        For server behind load balancers, its important to use sticky sessions to avoid multiple active HTTP sessions for the same identity.
    </p>    

    <h3 id="messages">Messages</h3>
    <p>
        The client can send and receive messages thought the HTTP server, using the <code>http://{host:port}/messages</code> resource URI.
        For receiving, the client needs an active session (<code>X-Keep-Session</code>) and set the presence as usual. Thus the HTTP server should receive the messages and store them for further retrieving by the client.
        The property mapping for the message envelope is:
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Property
                </th>
                <th>
                    HTTP mapping
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>type</code>
                </td>
                <td>
                    <code>Content-Type</code> header
                </td>
            </tr>
            <tr>
                <td>
                    <code>content</code>
                </td>
                <td>
                    The HTTP message <code>body</code> encoded according to the MIME type.
                </td>
            </tr>
        </tbody>
    </table>

    <p>The expected server behavior is:</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    URI 
                </th>
                <th>
                    Method
                </th>
                <th>
                    Behavior
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>/messages</code>
                </td>
                <td>
                    <code>POST</code>
                </td>
                <td>
                    The server should compose a message envelope, send it to the LIME backend and await for the first related notification.
                    If the received notification event is <code>Failure</code>, the HTTP response status code should be an 4xx (client error) or 5xx (server error), according to the failure reason and the reason phrase the value of the reason description; otherwise, the status should be 201 (Created) and the body value should be the id of the sent message.                    
                </td>
            </tr>
            <tr>
                <td>
                    <code>/messages?async=true</code>
                </td>
                <td>
                    <code>POST</code>
                </td>
                <td>
                    The server should compose a message envelope, send it to the LIME backend and return the HTTP status code 202 (Accepted) and the body value should be the id of the sent message.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/messages</code>
                </td>
                <td>
                    <code>GET</code>
                </td>
                <td>
                    The server should return the list of id of stored messages addressed to the request identity.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/messages/{id}</code>
                </td>
                <td>
                    <code>GET</code>
                </td>
                <td>
                    The server should return the stored message with the specified id.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/messages/{id}</code>
                </td>
                <td>
                    <code>DELETE</code>
                </td>
                <td>
                    The server should delete the stored message with the specified id.
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Examples</h4>

    <p>Sending a text message with the destination in the query string:</p>
    <pre>
C:

POST https://breakingbad.com/messages?to=heisenberg%40breakingbad.com HTTP/1.1
Content-Type: text/plain
Host: breakingbad.com
Authorization: Basic amVzc2VAYnJlYWtpbmdiYWQuY29tOmJpdGNo
Content-Length: 21

Yeah, bitch! Magnets!

S:

HTTP/1.1 201 Created
Content-Type: text/plain
Date: Wed, 01 Oct 2014 18:46:47 GMT
Content-Length: 36

27bf69ca-2a53-4a68-ac9d-6f8c833f50f9
</pre>

    <p>Sending an async text message with the destination in the headers:</p>  
    <pre>
C:

POST http://localhost:8080/messages?async=true HTTP/1.1
Content-Type: text/plain
Host: localhost:8080
X-To: heisenberg@breakingbad.com
Authorization: Basic amVzc2VAYnJlYWtpbmdiYWQuY29tOmJpdGNo
Content-Length: 8

Science!
    
S:

HTTP/1.1 202 Accepted
Content-Type: text/plain
Date: Wed, 01 Oct 2014 18:50:57 GMT
Content-Length: 36

dd079a4d-bb82-4a6b-8479-a420fc9ca91c
</pre>


    <p>Sending a message to an unavailable destination:</p>
    <pre>
C:

POST http://localhost:8080/messages HTTP/1.1
Content-Type: text/plain
X-To: hank@breakingbad.com
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5
Content-Length: 5

Hank?
    
S:

HTTP/1.1 403 Destination not found
X-Reason-Code: 42
Date: Wed, 01 Oct 2014 19:48:37 GMT
Content-Length: 0

</pre>

    <p>Get stored messages ids:</p>
    <pre>
C:

GET http://localhost:8080/messages HTTP/1.1
Content-Type: text/plain
X-To: heisenberg@breakingbad.com
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5
Content-Length: 0
    
S:

HTTP/1.1 200 OK
Content-Type: text/plain
X-Session-Id: fe78f967-39f1-4392-865b-7725d976664b
Date: Wed, 01 Oct 2014 21:30:33 GMT
Content-Length: 114

4e28e514-8706-42b6-9ba4-5dbab0ac72b5
dd079a4d-bb82-4a6b-8479-a420fc9ca91c
27bf69ca-2a53-4a68-ac9d-6f8c833f50f9
</pre>


    <p>Get a message by its id:</p>
    <pre>
C:
GET http://localhost:8080/messages/27bf69ca-2a53-4a68-ac9d-6f8c833f50f9 HTTP/1.1
Content-Type: text/plain
X-To: heisenberg@breakingbad.com
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5
Content-Length: 0
    
HTTP/1.1 200 OK
Content-Type: text/plain
X-Session-Id: fe78f967-39f1-4392-865b-7725d976664b
X-From: jesse@breakingbad.com/default
X-To: heisenberg@breakingbad.com/default
Date: Wed, 01 Oct 2014 21:29:23 GMT
Content-Length: 21

Yeah, bitch! Magnets!
</pre>


    <h3 id="notifications">Notifications</h3>
    <p>        
        The client can send and receive notifications thought the HTTP server, using the <code>http://{host:port}/notifications</code> resource URI.
        For receiving, the client needs an active session (<code>X-Keep-Session</code>). Thus the HTTP server should receive the notifications and store them for further retrieving by the client.
        The server only stores the last received notification for a specified message id, overwritting the existing ones.
        The property mapping for the notification envelope is:
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Property
                </th>
                <th>
                    HTTP mapping
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>event</code>
                </td>
                <td>
                    The HTTP message body.
                </td>
            </tr>
            <tr>
                <td>
                    <code>reason</code>
                </td>
                <td>
                    In case of a failure notification, the HTTP response <code>status code</code> should be a semantically related value to the envelope reason code.
                    The HTTP response <code>reason phrase</code> should be the envelope reason description value.
                </td>
            </tr>
        </tbody>
    </table>

    <p>The expected server behavior is:</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    URI 
                </th>
                <th>
                    Method
                </th>
                <th>
                    Behavior
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>/notifications</code>
                </td>
                <td>
                    <code>POST</code>
                </td>
                <td>
                    The server should compose a notification envelope and send it to the LIME backend.                    
                </td>
            </tr>
            <tr>
                <td>
                    <code>/notifications</code>
                </td>
                <td>
                    <code>GET</code>
                </td>
                <td>
                    The server should return the list of id of stored notifications addressed to the request identity.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/notifications/{id}</code>
                </td>
                <td>
                    <code>GET</code>
                </td>
                <td>
                    The server should return the stored notification with the specified id.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/notifications/{id}</code>
                </td>
                <td>
                    <code>DELETE</code>
                </td>
                <td>
                    The server should delete the stored notification with the specified id.
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Examples</h4>

    <p>Sending a received notification:</p>
    <pre>
C:

POST http://localhost:8080/notifications HTTP/1.1
Content-Type: text/plain
X-To: heisenberg@breakingbad.com
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5
Content-Length: 8
Content-Type: text/plain
X-Id: 4e28e514-8706-42b6-9ba4-5dbab0ac72b5

received


S:

HTTP/1.1 202 Accepted
Content-Type: text/plain
Server: Microsoft-HTTPAPI/2.0
X-Session-Id: b94d5f7a-0409-4eec-93c7-1b5b15d889de
Date: Thu, 02 Oct 2014 15:19:30 GMT
Content-Length: 36

4e28e514-8706-42b6-9ba4-5dbab0ac72b5
</pre>

    <p>Getting all stored notifications ids:</p>
    <pre>
C:

GET http://localhost:8080/notifications HTTP/1.1
Content-Type: text/plain
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5

S:

HTTP/1.1 200 OK
Content-Type: text/plain
Server: Microsoft-HTTPAPI/2.0
X-Session-Id: 2a55a5b4-1b3e-49a8-8fba-307954e4a8ef
Date: Thu, 02 Oct 2014 15:38:05 GMT
Content-Length: 76

6bb9a442-5e10-4360-af40-d9fe19924ec2
4e28e514-8706-42b6-9ba4-5dbab0ac72b5

    </pre>

    <p>Getting a failed notification:</p>
    <pre>
C:

GET http://localhost:8080/notifications/6bb9a442-5e10-4360-af40-d9fe19924ec2 HTTP/1.1
Content-Type: text/plain
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5

S:

HTTP/1.1 400 Unsupported content type
Content-Type: text/plain
Server: Microsoft-HTTPAPI/2.0
X-Session-Id: 2a55a5b4-1b3e-49a8-8fba-307954e4a8ef
X-From: jesse@breakingbad.com/default
X-To: heisenberg@breakingbad.com/default
X-Reason-Code: 21
Date: Thu, 02 Oct 2014 15:39:42 GMT
Content-Length: 6

failed

</pre>


    <h3 id="commands">Commands</h3>
    <p>
        The client can send commands requests thought the HTTP server, using the <code>http://{host:port}/commands</code> resource URI. 
        
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Property
                </th>
                <th>
                    HTTP mapping
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>method</code>
                </td>
                <td>
                    The HTTP request method. The LIME-HTTP mapping is:
                    <ul>
                        <li>
                            <code>get</code> - <code>GET</code>
                        </li>
                        <li>
                            <code>set</code> - <code>POST</code>
                        </li>
                        <li>
                            <code>delete</code> - <code>DELETE</code>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <code>uri</code>
                </td>
                <td>
                    The value of the HTTP request URI, excluding the <code>http://{host:port}/commands</code> base host.
                </td>
            </tr>
            <tr>
                <td>
                    <code>type</code>
                </td>
                <td>
                    <code>Content-Type</code> header.
                </td>
            </tr>
            <tr>
                <td>
                    <code>resource</code>
                </td>
                <td>
                    The HTTP message <code>body</code> encoded according to the MIME type.
                </td>
            </tr>
            <tr>
                <td>
                    <code>reason</code>
                </td>
                <td>
                    In case of a failure notification, the HTTP response <code>status code</code> should be a semantically related value to the envelope reason code.
                    The HTTP response <code>reason phrase</code> should be the envelope reason description value.
                </td>
            </tr>
        </tbody>
    </table>

    <p>The expected server behavior is:</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    URI
                </th>
                <th>
                    Method
                </th>
                <th>
                    Behavior
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>/commands/*</code>
                </td>
                <td>
                    <code>POST</code>
                </td>
                <td>
                    The server should compose a command envelope with <code>set</code> method with the <code>/*</code> URI.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/commands/*</code>
                </td>
                <td>
                    <code>GET</code>
                </td>
                <td>
                    The server should compose a command envelope with <code>get</code> method with the <code>/*</code> URI.
                </td>
            </tr>
            <tr>
                <td>
                    <code>/commands/*</code>
                </td>
                <td>
                    <code>DELETE</code>
                </td>
                <td>
                    The server should compose a command envelope with <code>delete</code> method with the <code>/*</code> URI.
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Examples</h4>

    <p>Sending a presence command:</p>
    <pre>
C:

POST http://localhost:8080/commands/presence HTTP/1.1
Host: localhost:8080
Authorization: Basic aGVpc2VuYmVyZ0BicmVha2luZ2JhZC5jb206OTk5OTk5
Content-Type: application/vnd.lime.presence+json
Content-Length: 22

{"status":"available"}

S:

HTTP/1.1 203 Created
Server: Microsoft-HTTPAPI/2.0
X-Session-Id: b94d5f7a-0409-4eec-93c7-1b5b15d889de
Date: Thu, 02 Oct 2014 15:19:30 GMT
Content-Length: 0

</pre> 
</div>