@{
    ViewBag.Title = "LIME over HTTP";
}

<div class="col-md-10" role="main">
    <h1 class="page-header">LIME over HTTP</h1>
    <div class="alert alert-warning">This specification is a <strong>work in progress</strong> and is subject to change without notice.</div>

    <p>
        LIME over HTTP is an emulation layer that allows receiving and sending LIME envelopes through a HTTP connection.
    </p>
</div>