@{
    ViewBag.Title = "Resource Types";
}

<div class="col-md-10" role="main">
    <h1 class="page-header">Resource Types</h1>

    <div class="alert alert-warning">This specification is a <strong>work in progress</strong> and is subject to change without notice.</div>

    <p>Every connected node on a LIME network has its own set of resources that can be queried or changed by another nodes through commands, if they have the permissions for that. Besides that, the domain servers can store resources for the domain identities, providing services like account and contact management.</p>
    <p>To improve the interoperability, the protocol defines some common resource types that SHOULD be available in all protocol implementations.</p>

    <h2 id="account">Account</h2>
    <p>Represents an user account information.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.account+json
</pre>
    <h4>JSON schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "account",
    "type": "object",
    "properties": {
        "fullName": {
            "type": "string"
        },
        "address": {
            "type": "string"
        },
        "city": {
            "type": "string"
        },
        "email": {
            "type": "string"
        },
        "phoneNumber": {
            "type": "string"
        },
        "cellPhoneNumber": {
            "type": "string"
        },
        "isTemporary": {
            "type": "boolean"
        },
        "password": {
            "type": "string"
        },
        "oldPassword": {
            "type": "string"
        },
        "inboxSize": {
            "type": "integer",
            "minimum": 0
        },
        "allowGuestSender": {
            "type": "boolean"
        },   
        "allowUnknownSender": {
            "type": "boolean"
        },   
        "storeMessageContent": {
            "type": "boolean"
        }  
    }
}
</code>
</pre>
    <h4>Properties</h4>
    <ul>
        <li>
            <strong>fullName</strong> - The user full name.
        </li>
        <li>
            <strong>address</strong> - The user address.
        </li>
        <li>
            <strong>city</strong> - The user city name.
        </li>
        <li>
            <strong>email</strong> - The user e-mail address.
        </li>
        <li>
            <strong>phoneNumber</strong> - The user phone number.
        </li>
        <li>
            <strong>cellPhoneNumber</strong> - The user cellphone number.
        </li>
        <li>
            <strong>isTemporary</strong> - Indicates that the account is temporary is valid only in the current session. The default value is false.
        </li>
        <li>
            <strong>password</strong> - Base64 representation of the account password. Only valid on set commands during the account creation or update.
        </li>
        <li>
            <strong>oldPassword</strong> - Base64 representation of the account password. Only valid on set commands during the account password update.
        </li>
        <li>
            <strong>inboxSize</strong> - Size of account inbox for storing offline messages. The default value is 0.
        </li>
        <li>
            <strong>allowGuestSender</strong> - Indicates if this account allows receive messages from users with guest sessions.
        </li>
        <li>
            <strong>allowUnknownSender</strong> - Indicates if this account allows receive messages from users that are not in the account contact list.
        </li>
        <li>
            <strong>storeMessageContent</strong> - Indicates if the content of messages from this account should be stored in the server. Note that for offline messages, this will always happens.
        </li>
    </ul>
    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>

    <p>Setting the account information:</p>
<pre>
C:
<code class="json">
{
    "id": "f6b9160c-7539-4369-aa1d-c3b51380a524",
    "from": "saul@breakingbad.com/office",
    "method": "set",
    "type": "application/vnd.lime.account+json",
    "resource": {
        "fullName": "Saul McGill Goodman",
        "phoneNumber": "+15055034455",
        "city": "Albuquerque",
        "password": "a2V2aW5jb3N0bmVy",
        "allowGuestSender": false
    }        
}
</code>
S:
<code class="json">
{
    "id": "f6b9160c-7539-4369-aa1d-c3b51380a524",
    "to": "saul@breakingbad.com/office",
    "method": "set",
    "status": "success"
}
</code>
</pre>

    <hr />

    <h2 id="capability">Capability</h2>
    <p>Represents the messaging capabilities of a node in a session.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.capability+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "capability",
    "type": "object",
    "properties": {
        "contentTypes": {
            "type": "array",
            "items": { 
                "type": "string",
                "pattern": "^[-\w]+/[-\w.]+(\+json)$"
            }
        },
        "resourceTypes": {
            "type": "array",
            "items": { 
                "type": "string",
                "pattern": "^[-\w]+/[-\w.]+(\+json)$"
            }
        },
    }
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>contentTypes</strong> - Indicates the message content types that the session node is able to handle. By default, the server delivers all messages types to the nodes.
        </li>
        <li>
            <strong>resourceTypes</strong> - Indicates the command resource types that the session node is able to handle. By default, the server blocks all command addressed to the nodes.
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities. The servers doesn't need to know the content types so this specific resource is unbounded.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Get the current session capabilities:</p>
<pre>
<code class="json">
C:
{
    "id": "d1ad793d-2bf2-42f2-a843-65c7b518e601",
    "from": "walterjr@breakingbad.com/home",
    "method": "get",
    "type": "application/vnd.lime.capability+json"
}
</code>
<code class="json">
S:
{
    "id": "d1ad793d-2bf2-42f2-a843-65c7b518e601",    
    "from": "server@breakingbad.com/machine1",
    "to": "walterjr@breakingbad.com/home",
    "method": "get",
    "result": "success",
    "type": "application/vnd.lime.capability+json",
    "resource": {
        "contentTypes": [
            "application/vnd.lime.text+json",
            "application/vnd.lime.chatstate+json",
        ],
        "resourceTypes": [
            "application/vnd.lime.ping+json"
        ]
    }
}
</code>
</pre>

    <hr />

    <h2 id="receipt">Receipt</h2>
    <p>Represents the events that the client wants to receive.</p>

    <h4>MIME type</h4>
<pre>
     application/vnd.lime.receipt+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "receipt",
    "type": "object",
    "properties": {
        "events" : {
            "enum": [ 
                "failed",
                "accepted",
                "validated",
                "authorized",
                "dispatched",
                "received",
                "consumed"
            ]
        },
    }
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>events</strong> - Indicates the events that you want the server to send info about. By default, the server will notificate only failed events.
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities. The servers doesn't need to know the content types so this specific resource is unbounded.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Set to accept all events:</p>
<pre>
<code class="json">
C:
{
    "id":  "2f158480-8c4e-4987-94e5-e4b960622f4b",
    "method":  "set",
    "from": "walterjr@breakingbad.com/home",
    "type":  "application/vnd.lime.receipt+json",
    "resource":  {
        "events":  [
            "failed",
            "accepted",
            "validated",
            "authorized",
            "dispatched",
            "received",
            "consumed"    
    ]  
  }
}
</code>
<code class="json">
S:
{
    "method": "set",
    "status": "success",
    "id": "2f158480-8c4e-4987-94e5-e4b960622f4b",
    "from": "server@breakingbad.com/machine1",
    "to": "walterjr@breakingbad.com/home"
}
</code>
</pre>

    <hr />

    <h2 id="delegation">Delegation</h2>
    <p>
        Represents a delegation to send envelopes on behalf of another identity of the same network. The delegation can be constrained to specific envelope types and/or destinations. It is associated to the issuer's session and can be revoked through a <em>delete</em> command.
    </p>
    <p>
        While it is possible to a node spontaneously issue a delegation to another identity, the process usually begins with a <em>get</em> command from the node that wants the permissions (called <em>delegate</em>) to the node that will delegate the permissions (called <em>issuer</em>).
        In this command, the delegate informs which permissions it wants (called <em>claims</em>), like the command resource types and message content types.
        If the issuer node agrees to give the requested permissions, it sends to the server a <em>set</em> command with the same claims that the delegate requested. If the command succeeds, the issuer send a result command with success status to the delegate. Otherwise, it sends an error with the details in the reason property.
    </p>
    <p>
        In some cases, the delegation is issued automatically by the server. For instance if a node adds an identity to his roster, a node with this identity can <em>get</em> the <em>presence</em> resource on his behalf in the server.
    </p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.delegation+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "delegation",
    "type": "object",
    "properties": {
        "target": {
            "type": "string",
            "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})(?:/(.{1,1023}))?$"
        },
        "destinations": {
            "type": "array",
            "items": { 
                "type": "string",
                "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})(?:/(.{1,1023}))?$"
            },
        },
        "commands": {
            "type": "array",
            "items": { 
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "pattern": "^[-\w]+/[-\w.]+(\+json)$"
                    },
                    "methods": {
                        "enum": [
                            "get",
                            "set",
                            "delete"
                        ]
                    }
                }
            }
        },
        "messages": {
            "type": "array",
            "items": { 
                "type": "string",
                "pattern": ""
            }
        }        
    },
    "required" : [ "target", "destinations" ]
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>target</strong> - In a set command (delegation), is the identity to be delegated and in a get command (delegation request), the node where the delegation should be applied by the destination.
        </li>
        <li>
            <strong>destinations</strong> - Array of destinations that the delegated identity can originate envelopes on behalf.
            It can be to a domain ("@@domain"), to a identity ("name@domain") or to a node ("name@domain/instance").
        </li>
        <li>
            <strong>commands</strong> - Command definitions for delegation. An issued command delegation is valid only to the resource types held by the server. Each item in the array define the following properties:
            <ul>
                <li>
                    <strong>type</strong> - The MIME type of the resource for delegation.
                </li>
                <li>
                    <strong>methods</strong> - Methods allowed in the delegation of the resource.
                </li>
            </ul>
        </li>
        <li>
            <strong>messages</strong> - Message definitions for delegation. The array must contains the MIME content types of the messages for delegation.
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities. The servers cannot delegate permissions to another nodes but they are automatically granted by all domain identities.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node. The gateways cannot delegate permissions to another nodes but they can be granted by nodes.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node. The applications cannot delegate permissions to another nodes but they can be granted by nodes.
        </li>
    </ul>

    <h4>Example</h4>

<pre>
1 - The delegate begins the process sending a delegate request to the issuer:
<code class="json">
{
    "id": "e33e1659-b98f-4822-ba3d-e4a23f346907",
    "from": "saul@breakingbad.com/office",
    "to": "heisenberg@breakingbad.com",
    "method": "get",
    "type": "application/vnd.lime.delegation+json",
    "resource": {
        "destinations" : [
            "jesse@breakingbad.com",
            "guywhoknowsaguy@breakingbad.com",
        ],
        "commands": [
            { 
                "type": "application/vnd.lime.presence+json",
                "methods": [ "get" ]
            },
            { 
                "type": "application/vnd.lime.account+json",
                "methods": [ "get", "set" ]
            }
        ],
        "messages": [
            "application/vnd.lime.text+json"
        ]
    }
}
</code>
2 - The issuer sends a set command to the server:
<code class="json">
{
    "id": "e5a071c5-11f1-49e6-bcac-f2595876a8a2",
    "from": "heisenberg@breakingbad.com/home",
    "method": "set",
    "type": "application/vnd.lime.delegation+json",
    "resource": {
        "target": "saul@breakingbad.com/office",
        "destinations" : [
            "jesse@breakingbad.com",
            "guywhoknowsaguy@breakingbad.com",
        ],
        "commands": [
            { 
                "type": "application/vnd.lime.presence+json",
                "methods": [ "get" ]
            },
            { 
                "type": "application/vnd.lime.account+json",
                "methods": [ "get", "set" ]
            }
        ],
        "messages": [
            "application/vnd.lime.text+json"
        ]
    }
}
</code>
3 - The server acknowledges:    
<code class="json">
{
    "id": "e5a071c5-11f1-49e6-bcac-f2595876a8a2",
    "to": "heisenberg@breakingbad.com/home",
    "method": "set",
    "type": "application/vnd.lime.delegation+json",
    "result": "success"    
}
</code>
4 - The issuer acknowledges:
<code class="json">
{
    "id": "e33e1659-b98f-4822-ba3d-e4a23f346907",
    "from": "heisenberg@breakingbad.com/home",
    "to": "saul@breakingbad.com/office",
    "method": "get",
    "type": "application/vnd.lime.delegation+json",
    "resource": {
        "destinations" : [
            "jesse@breakingbad.com",
            "guywhoknowsaguy@breakingbad.com",
        ],
        "commands": [
            { 
                "type": "application/vnd.lime.presence+json",
                "methods": [ "get" ]
            },
            { 
                "type": "application/vnd.lime.account+json",
                "methods": [ "get", "set" ]
            }
        ],
        "messages": [
            "application/vnd.lime.text+json"
        ]
    }
}
</code>
5 - The delegate sends a message on behalf of the issuer:
<code class="json">
{
    "from": "heisenberg@breakingbad.com",
    "pp": "saul@breakingbad.com/office",
    "to": "jesse@breakingbad.com",
    "type": "application/vnd.lime.text+json",
    "content": {
        "text": "Let's meet at the office."
    }
}
</code>
</pre>

    <hr />

    <h2 id="group">Group</h2>
    <p>Allows the nodes to manage the groups that they owns or participates.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.group+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "roster",
    "type": "object",
    "properties": {
        "groups" : {
            "title": "group",
            "type": "object",
            "properties": {
                "identity": {
                    "title": "identity",
                    "type": "string",
                    "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})$"
                },
                "owner": {
                    "title": "identity",
                    "type": "string",
                    "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})$"
                },
                "name" : {
                    "type": "string"
                },
                "type" : {
                    "enum": [ "temporary", "public", "private" ]
                },
                "members" : {
                    "type": "array",
                    "items": {
                        "title": "member",
                        "type": "object",
                        "properties": {
                            "identity": {
                                "title": "identity",
                                "type": "string",
                                "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})$"
                            },
                            "role": {
                                "enum": [ "listener", "member", "moderator" ]
                            }
                        }
                    }
                }
            },
            "required" : [ "identity", "owner" ]
        }
    }
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>groups</strong> - List of groups that the node owns or participates. Every group can have the following properties:
            <ul>
                <li>
                    <strong>identity</strong> - Identity of the group, in the <em>group-id@groups.domain.com</em> format.
                    The <em>groups</em> subdomain is needed because that's the name of the application that handle the group messaging.
                </li>
                <li>
                    <strong>name</strong> - Name of the group.
                </li>
                <li>
                    <strong>type</strong> - Type of the group. The possible values are:
                    <ul>
                        <li>
                            <strong>temporary</strong> - The group exists while the owner session that created it is active.
                            This type of group is useful for mass message sending, since the groups application is optimized to send large amounts of messages. The temporary groups are private.
                        </li>
                        <li>
                            <strong>private</strong> - The group is not discoverable and someone can join only if is invited by owner or a moderator.
                        </li>
                        <li>
                            <strong>public</strong> - Any authenticated node in the domain can join the group.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>members</strong> - List of members of the contact group. Every member can have the following properties:
                    <ul>
                        <li>
                            <strong>identity</strong> - The identity of the member, in the <em>name@domain</em> format.
                        </li>
                        <li>
                            <strong>role</strong> - The role of the identity in the group. The possible values are:
                            <ul>
                                <li>
                                    <strong>listener</strong> - The member can only receive messages from the group, and doesn't have permission to send.
                                </li>
                                <li>
                                    <strong>member</strong> - The member can send and receive messages to the group. It's the default value.
                                </li>
                                <li>
                                    <strong>moderator</strong> - The member can send and receive messages to the group and can <em>kick</em> and <em>ban</em> contacts from it.
                                </li>
                                <li>
                                    <strong>owner</strong> - The owner have the permission to manage moderators, change and delete the group.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>

<pre>
C:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "gus@breakingbad.com/pollos",
    "method": "get",
    "type": "application/vnd.lime.group+json"
}
</code>
S:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "server@breakingbad.com/machine1",
    "to": "gus@breakingbad.com/pollos",
    "method": "get",
    "result": "success",
    "resource": {
        "groups": [
            {
                "identity": "methcookers@groups.breakingbad.com",
                "name": "Meth cookers",
                "owner": "gus@breakingbad.com",
                "type": "private",
                "members": [
                    {
                        "identity": "mike@breakingbad.com",
                        "role": "moderator"
                    },
                    {
                        "identity": "ww@breakingbad.com"
                    },
                    {
                        "identity": "jesse@breakingbad.com"
                    },
                    {
                        "identity": "gale@breakingbad.com"
                    },
                    {
                        "identity": "victor@breakingbad.com",
                        "role": "listener"
                    }
                ]
            },
            {
                "identity": "pollos@groups.breakingbad.com",
                "name": "Los Pollos Hermanos Staff",
                "owner": "gus@breakingbad.com",
                "type": "public",
                "members": [
                    {
                        "identity": "victor@breakingbad.com"
                    },
                    {
                        "identity": "gaff@breakingbad.com"
                    }
                ]
            },
            {
                "identity": "police@groups.breakingbad.com",
                "name": "Albuquerque Police Department officers and supporters",
                "owner": "marshall@breakingbad.com",
                "type": "public",
                "members": [
                    {
                        "identity": "gus@breakingbad.com",
                        "role": "listener"
                    },
                    {
                        "identity": "officer1@breakingbad.com"
                    },
                    {
                        "identity": "officer2@breakingbad.com"
                    }
                ]
            }
        ]
    }
}
</code>
</pre>
    <hr />

    <h2 id="ping">Ping</h2>
    <p>Allows the nodes to test the network connectivity.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.ping+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "ping",
    "type": "object"
}
</code>
</pre>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Every node can hold the resource. The only valid command method is get, since the resource doesn't have a body.
        </li>
        <li>
            <strong>Server</strong> - Inherited from the node. The server sends ping commands to the idle nodes to ensure network connectivity.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Ping request from the server:</p>
<pre>
C:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "server@breakingbad.com/server1",
    "to": "saul@breakingbad.com/tv",
    "method": "get",
    "type": "application/vnd.lime.ping+json"
}
</code>
S:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "saul@breakingbad.com/tv",
    "to": "server@breakingbad.com/server1",
    "method": "get",
    "result": "success",
    "type": "application/vnd.lime.ping+json",
    "resource": {}
}
</code>
</pre>

    <hr />

    <h2 id="presence">Presence</h2>
    <p>Represents the availability status of a node in a network. A node can only receive envelopes from another nodes in the network if it sets its presence to an available status (except from the server, who always <em>knows</em> if a node is available or node, since this information is enforced by the existing session). In a new session, the node starts with a <em>unavailable</em> status.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.presence+json
</pre>

    <h4>JSON Schema</h4>
<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "presence",
    "type": "object",
    "properties": {
        "status": {
            "enum": [
                "unavailable",
                "available",
                "busy",
                "away"
            ]            
        },
        "message" : {
            "type": "string"
        },
        "routingRule" : {
            "enum": [
                "instance",
                "identity",
                "identityByPriority",
                "promiscuous"
            ]
        },
        "priority" : {
            "type": "integer"
        },
        "instances" : {
            "type": "array",
            "items": {
                "type": "string"
            }
        }
        
    },
    "required" : [ "status" ]
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>status</strong> - The node presence status. The possible values are:
            <ul>
                <li>
                    <strong>unavailable</strong> - The node is not available for messaging and SHOULD not receive any envelope by any node, except by the connected server.
                </li>
                <li>
                    <strong>available</strong> - The node is available for messaging and envelopes can be routed to the node according to the defined routing rule.
                </li>
                <li>
                    <strong>busy</strong> - The node is available but the senders should notice that it is busy and doesn't want to the disturbed or it is on heavy load and don't want to receive any envelope.
                </li>
                <li>
                    <strong>away</strong> - The node is available but the senders should notice that it may not be reading or processing the received envelopes.
                </li>
            </ul>
        </li>
        <li>
            <strong>message</strong> - A status message associated to the presence status.
        </li>
        <li>
            <strong>routingRule</strong> - Rule to the server route envelopes addressed to the identity. The possible values are:
            <ul>
                <li>
                    <strong>instance</strong> - Only delivery envelopes addressed to the current session instance (<em>name@@domain/instance</em>).
                </li>
                <li>
                    <strong>identity</strong> - Delivery envelopes addressed to the current session instance (<em>name@@domain/instance</em>) and envelopes addressed to the identity (<em>name@@domain</em>).
                </li>
                <li>
                    <strong>identityByPriority</strong> - Delivery envelopes addressed to the current session instance (<em>name@@domain/instance</em>) and envelopes addressed to the identity (<em>name@@domain</em>) if the value of the <em>priority</em> property is the largest among the available nodes of the identity.
                </li>
                <li>
                    <strong>promiscuous</strong> - Delivery any envelopes addressed to the identity (<em>name@@domain</em>), including the envelopes addressed to any specific instance.
                </li>
            </ul>
        </li>
        <li>
            <strong>priority</strong> - The value of the priority for the <em>identityByPriority</em> routing rule.
        </li>
        <li>
            <strong>instances</strong> - The instance names that have a defined presence in the server for a specified identity. This property is returned when the <em>from</em> value of the command envelope hasn't an specified instance.
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities, but can't set it to itself.
        </li>
        <li>
            <strong>Gateway</strong> - Can't get or set it to itself.
        </li>
        <li>
            <strong>Application</strong> - Can't get or set it to itself.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Setting the presence:</p>
<pre>
C:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "saul@breakingbad.com/tv",
    "method": "set",
    "type": "application/vnd.lime.presence+json",
    "resource": {
        "status": "available",
        "message": "Better call Saul!"
    }
}
</code>
S:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "server@breakingbad.com/machine1",
    "to": "saul@breakingbad.com/tv",
    "method": "set",
    "result": "success"  
}
</code>
</pre>

    <hr />

    <h2 id="quota">Quota</h2>
    <p>Allows the nodes to manage the session envelope quota configuration.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.quota+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "quota",
    "type": "object",
    "properties": {
        "throughput" : {
            "type": "integer"
        },
        "maxEnvelopeSize" : {
            "type": "integer"
        }
    }
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>throughput</strong> - Indicates the cap of envelopes per second that the session can send and receive. If the value is 0 or is not defined, this capability is unbounded. If a session exceeds the limit, it will be finished by the server. Usually, only the server is allowed to change this property in a session.
        </li>
        <li>
            <strong>maxEnvelopeSize</strong> - The uncompressed size limit of the envelopes that can be sent in the session. If the value is 0 or is not defined, this capability is unbounded. If a envelope sent in the session exceeds the limit, it will be finished by the server. Usually, only the server is allowed to change this property in a session.
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Adding a contact to the roster:</p>
<pre>
C:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "hank@breakingbad.com/dea",
    "method": "get",
    "type": "application/vnd.lime.quota+json"
    }
}
</code>
S:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "server@breakingbad.com/machine1",
    "to": "hank@breakingbad.com/dea",
    "method": "get",
    "result": "success",
    "type": "application/vnd.lime.quota+json",
    "resource": {
        "throughput": 5,
        "maxEnvelopeSize": 2048
    }
}
</code>
</pre>
    <hr />

    <h2 id="roster">Roster</h2>
    <p>Allows the nodes to manage the contacts of their accounts.</p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.roster+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "roster",
    "type": "object",
    "properties": {
        "contacts": {
            "type": "array",
            "items": {
                "title": "contact",
                "type": "object",
                "properties": {
                    "identity": {
                        "title": "identity",
                        "type": "string",
                        "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})$"
                    },
                    "name": {
                        "type": "string",
                    },
                    "isPending": {
                        "type": "boolean"
                    },
                    "sharePresence": {
                        "type": "boolean"
                    },
                    "shareAccountInfo": {
                        "type": "boolean"
                    }
                },
                "required": [ "identity" ]
            }
        }       
    }
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>contacts</strong> - Array of contacts related to the roster command. The contact properties are:
            <ul>
                <li>
                    <strong>identity</strong> - The identity of the contact, in the <em>name@domain</em> format.
                </li>
                <li>
                    <strong>name</strong> - The name of the contact. This information is only visible by the roster owner.
                </li>
                <li>
                    <strong>isPending</strong> - Determines if the contact is pending for acceptance by the roster owner. The default value is <em>false</em>.
                </li>
                <li>
                    <strong>sharePresence</strong> - Indicates if the roster owner wants to share presence information with the contact. If <em>true</em>, the server provides a <em>get</em> delegation permission to the contact identity into the roster owner <em>presence</em> resource. The default value is <em>true</em>.
                </li>
                <li>
                    <strong>shareAccountInfo</strong> - Indicates if the roster owner wants to share account information with the contact. If <em>true</em>, the server provides a <em>get</em> delegation permission to the contact identity into the roster owner <em>account</em> resource. The default value is <em>true</em>.
                </li>
            </ul>
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Adding a contact to the roster:</p>
<pre>
C:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "hank@breakingbad.com/dea",
    "method": "set",
    "type": "application/vnd.lime.roster+json",
    "resource": {
        "contacts": [
            {
                "identity": "gomez@breakingbad.com",
                "name": "Gomie"
            }
        ]
    }
}
</code>
S:
<code class="json">
{
    "id": "2aac8738-5507-44bf-b85a-30e146250fa3",
    "from": "server@breakingbad.com/machine1",
    "to": "hank@breakingbad.com/dea",
    "method": "set",
    "result": "success"  
}
</code>
</pre>

    <hr />

    <h2 id="subscription">Subscription</h2>
    <p>
        Represents a resource subscription information, which allows to a node receive the updated value every time when a subscribed resource is changed in the target node.
        This is useful to receive updates of changes in other identities resources, like the presence, but is possible to subscribe to a remote resource owned by the caller, like a resource in a server. To be able to subscribe to another node resource, the subscriber must have a <em>get delegation</em> for the resource in the publisher node.
    </p>

    <h4>MIME type</h4>
<pre>
    application/vnd.lime.subscription+json
</pre>

    <h4>JSON Schema</h4>

<pre>
<code class="json-schema">
{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "title": "subscription",
    "type": "object",
    "properties": {
        "owner": {
            "type": "string",
            "pattern": "^(?:([^\"&'/:<>@@]{1,1023})@@)?([^/@@]{1,1023})(?:/(.{1,1023}))?$"
        },
        "type" : {
            "type": "string",
            "pattern": "^[-\w]+/[-\w.]+(\+json)$"
        }
    },
    "required" : [ "type" ]
}
</code>
</pre>

    <h4>Properties</h4>
    <ul>
        <li>
            <strong>owner</strong> - The identity of the owner of the resource. The default value is the identity of the <em>from</em> property of the envelope.
        </li>
        <li>
            <strong>type</strong> - The MIME type of the resource for subscription.
        </li>
    </ul>

    <h4>Role support</h4>
    <ul>
        <li>
            <strong>Node</strong> - Can get and set the resource value in the server.
        </li>
        <li>
            <strong>Server</strong> - Holds the resource for other identities.
        </li>
        <li>
            <strong>Gateway</strong> - Inherited from the node.
        </li>
        <li>
            <strong>Application</strong> - Inherited from the node.
        </li>
    </ul>

    <h4>Example</h4>
    <p>Subscription to other node resource:</p>
<pre>
C:
<code class="json">
{
    "id": "d728965a-5758-4169-8167-a94dd60bc826",
    "from": "salamancacousins@breakingbad.com/mexico",
    "method": "set",
    "type": "application/vnd.lime.subscription+json",
    "resource": {
        "owner": "heisenberg@breakingbad.com",
        "type": "application/vnd.lime.presence+json"
    }
}
</code>
S:
<code class="json">
{
    "id": "d728965a-5758-4169-8167-a94dd60bc826",
    "from": "server@breakingbad.com/machine1",
    "to": "salamancacousins@breakingbad.com/mexico",
    "method": "set",
    "result": "success"
}
</code>
</pre>
    <p>Receiving an update of the resource:</p>
<pre>
S:
<code class="json">
{
    "from": "heisenberg@breakingbad.com",
    "to": "salamancacousins@breakingbad.com/duke",
    "pp": "server@breakingbad.com",
    "method": "observe",
    "type": "application/vnd.lime.presence+json",
    "resource": {
        "status": "available"
    }
}
</code>
</pre>

</div>

<div class="col-md-2" role="complementary">
    <div id="sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#account">Account</a>
            </li>
            <li>
                <a href="#capability">Capability</a>
            </li>
            <li>
                <a href="#delegation">Delegation</a>
            </li>
            <li>
                <a href="#group">Group</a>
            </li>
            <li>
                <a href="#ping">Ping</a>
            </li>
            <li>
                <a href="#presence">Presence</a>
            </li>
            <li>
                <a href="#quota">Quota</a>
            </li>
            <li>
                <a href="#roster">Roster</a>
            </li>
            <li>
                <a href="#subscription">Subscription</a>
            </li>
        </ul>
    </div>
</div>